<div class="modal fade" id="grade_unit_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6>Curso</h6>
        <div class="ml-3 mb-2 course-name"></div>
        <h6>Horários</h6>
        <div class="ml-3 mb-2 grade-unit-schedule"></div>
        <h6 id="docencia-title">Docência</h6>
        <div class="ml-3 mb-2 grade-unit-teachers"></div>
      </div>
      <div class="modal-footer">
        <a id="destroy_grade_unit" href="" data-method="delete" class="btn btn-outline-danger">EXCLUIR HORÁRIO</a>
      </div>
    </div>
  </div>
</div>
